<div class="page_style">
    <div class="feed_buttons">
        <button class="feature_buttons" mat-raised-button color="primary" (click)="handleCreatePostClick()">Create Post</button>
    </div>
    <div class="card-container" >
        <mat-card appearance="outlined" class="responsive-card" *ngFor="let post of posts$ | async">
            <app-user-profile></app-user-profile>
            <div class="image_container">
                <img mat-card-image [src]="post.image" class="post_image">
            </div>
            <mat-card-actions>
                <app-like-button></app-like-button>
                <app-comment-button [postId]="post._id"></app-comment-button>
            </mat-card-actions>
            <mat-card-content>
                {{post.text}}
            </mat-card-content>
            
        </mat-card>
    </div>
    <div *ngIf="(posts$ | async)?.length==0">
        <p>No Posts yet</p>
    </div>
</div>