<div class="page_style">
  <div class="feed_buttons">
    <button
      class="feature_buttons"
      mat-raised-button
      color="primary"
      (click)="handleCreatePostClick()"
      aria-label="Create a new post"
    >
      Create Post
    </button>
  </div>
  <div class="card-container">
    <mat-card
      aria-label="Post card"
      appearance="outlined"
      class="responsive-card"
      *ngFor="let post of postWithLikes$ | async; trackBy: trackByPostId"
    >
      <app-user-profile
        [posterInfo]="post.user_id"
        [action]="action"
        aria-label="User profile avatar"
      ></app-user-profile>
      <div class="image_container">
        <img
          mat-card-image
          [src]="BASE_URL + 'uploads/' + post.image"
          class="post_image"
          aria-label="Image of the post"
        />
      </div>
      <mat-card-actions>
        <app-like-button
          [isLiked]="post.isLiked"
          [postId]="post._id"
          (likeToggled)="toggleLike($event)"
          aria-label="Like this post"
        ></app-like-button>
        <app-comment-button
          aria-label="Add comment to this post"
          [postId]="post._id"
        ></app-comment-button>
      </mat-card-actions>
      <mat-card-content>
        {{ post.text }}
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="(posts$ | async)?.length == 0">
    <p aria-live="polite">No Posts yet</p>
  </div>
</div>
