.feature_buttons {
    color: #ffffff; 
    margin-top: 10px; 
    transition: background-color 0.3s; 
}

img {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    margin-top: 15px;
    max-width: 100%; 
    height: auto;
}
