.feature_buttons {

    color: #ffffff; /* White text */
    margin-top: 10px; /* Space above the button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.feature_buttons:hover {
    
}

img {
    border-radius: 8px; /* Rounded corners for images */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    margin-top: 15px; /* Space above the image */
    max-width: 100%; /* Ensure the image does not exceed container width */
    height: auto; /* Maintain aspect ratio */
}
