/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card{
    border-radius: 8px;
    padding: 16px;
    background-color: #ffffff;
    /* margin: 16px 0; */
    transition: box-shadow 0.3 ease;
}
mat-card-title.profile_title{
  font-size: 0.8rem;
  font-weight: bold;
}
mat-card-subtitle.profile_subtitle{
  font-size: 0.8rem;
}
.card-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.responsive-card{
    flex: 1 1 300px;
    /* margin: 16px; */
}
.responsive-card .avatar img{
    width:50px;
    height:50px;
    /* width:10vw;
    height:10vw; */
    border-radius:50%;
    object-fit: cover;
}
.responsive-card img.mat-card-image {
    width: 100%;         /* Make the post image take full width */
    height: auto;
    border-radius: 10px;  /* Optional: Slight rounding for post image corners */
  }
  img[mat-card-image] {
    width: 100%;
    height: auto;
    /* object-fit: cover;  */
  }
  .full-screen-dialog{
    height:100vh;
    width:100vw;
    margin:0;
    padding:0;
    position:fixed;
    top:0;
    left:0;
  }
  .dialog-content {
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  .centralizedHeading{
    margin:12px;
    font-weight: bold;
    font-size:1rem;
    text-align: center;
  }
  .flex-row{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
  }

.comments-list{
  margin-bottom:100px;
  overflow-y: auto;
  padding:10px;
  align-items: flex-start;
}

.comment-form{
  display: flex;
  align-items: center;
}

.comments-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100vh;
  width:100%;
  padding:10px;
  box-sizing: border-box;
  /* position: relative; */
}

.flex-end-column{
  /* display: flex; */
  align-items: flex-end;
  position: sticky;
  bottom:0;
}

.feature_buttons{
  width:100px;
  height:100px;
  /* margin:10px; */
  /* border-radius: 50%; */
  font-size:0.6em !important;
  font-weight:bold !important;
  margin-bottom: 10px;
  text-transform: uppercase !important;
}

.page_style{
  margin:16px;
}

.post_textarea{
  width:100%;
}